<p style="color: green"><%= notice %></p>

<h1>Poules</h1>

<div id="poules">
  <% @poules.each do |poule| %>
    <%#= render poule %>
    <p>Fencers:</p>
    <% fencers = poule.fencers.uniq %>
    <% fencers.each do |fencer| %>
      <%= fencer.name %>
      <br>
    <% end %>
    <p>
      <%= link_to "Show this poule", poule %>
    </p>
  <% end %>
</div>

<%= link_to "New poule", new_poule_path %>
