<div id="<%= dom_id tournament %>">
<p>Participants</p>
<% tournament.fencers.each do | fencer | %>
    <p><%= fencer.name %></p>
<% end %>
<% tournament.poules.each do | poule | %>
    <% poule.fencers.each do | fencer | %>
        <%= fencer.name %>
    <% end %>
<% end %>
</div>
