

<div class="container p-4">
  <div class="card bg-light p-4">
    <h5 class="card-title"><%= tournament.created_at.to_fs(:long) %></h5>
    <% fencers = []%>
    <% tournament.poules.each do |poule|%>
        <% poule.fencers.uniq.each do |fencer| %>
            <% fencers << fencer %>
        <% end %>
    <% end %>
    <p><%= fencers.count %> Fencers</p>
    <p><%= tournament.poules.count %> Poule(s)</p>
    <%= link_to "Show this tournament", tournament, class: "btn btn-dark m-2" %>
  </div>
</div>