<div class="container">
  <div class="d-grid pt-4">
    <% tournament.poules.each_with_index do | poule, index | %>
        <div class="card pt-2 p-2 bg-light border">
                <h5>Poule <%= index+1 %> </h5>
                <% poule.fencers.uniq.each do | fencer | %>
                <p><%= fencer.name %></p>
        <% end %>
        <%= link_to "Show this poule", poule %>
        </div>
    <% end %>
  </div>
</div>