<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ðŸ¤º Epeely </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a><%= link_to "â¬…ï¸ Back to poule", poule_path(@match.poule), class: "nav-link active" %></a>
        </li>
      </ul>
  </div>
</nav>

<div class="container">
  <h1>Input Scores</h1>
  <%= render "form", match: @match %>
</div>
